@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent-red
  color: #fff

body
  font-size: 15px
  min-width: 320px
  position: relative
  line-height: 1.6
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

html, body
  height: 100%

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent-red
  text-decoration: none

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important

// ======= END TEMPLATE STYLES =======
.btn
  display: inline-block
  +mt(.1s)
  border: none
  padding: 8px 10px
  text-transform: uppercase
  border-radius: 30px
  line-height: 1.2
  text-align: center
  cursor: pointer
  &:hover, &:active, &:focus
    opacity: .8
    color: #fff

.btn-yellow
  background-color: $accent-yellow
  color: #fff
  &:hover, &:active, &:focus
    opacity: .8
    color: #fff
  &.disabled
    filter: grayscale(.7)
    &:hover, &:active, &:focus
      opacity: 1

.btn-red
  background-color: $accent-red
  color: #fff


.btn-more
  width: 138px
  text-transform: none
  font-size: 17px


.page-wrap
  display: flex
  flex-direction: column
  height: 100%

.page-content
  flex: 1 0 auto

.main-foot
  flex: 0 0 auto

#page-container
  height: 100%

h1
  font-size: 30px
  font-weight: normal
  margin-bottom: 24px
  line-height: 1.3

h2
  font-size: 23px
  font-weight: normal
  line-height: 1.3

p
  margin-bottom: 12px


.site-content
  ul, ol
    font-size: 15px
  ul
    list-style: disc
    padding-left: 40px
    margin-bottom: 15px


.owl-carousel
  position: relative
  .owl-nav
    font-size: 25px
    color: #acacac
    position: absolute
    top: calc(50% - 20px)
    left: 0
    width: 100%
    button.owl-prev, button.owl-next
      position: absolute
      +mt(.3s)
      &:hover
        color: $accent-yellow
    button.owl-prev
      left: 15px
    button.owl-next
      right: 15px

form
  background-color: #fff
  position: relative
  label
    display: block
    margin-bottom: 18px
  input, textarea
    display: block
    width: 100%
    box-shadow: 0 0 5px #bbb, 0 1px 2px rgba(0, 0, 0, 0.2) inset
    background-color: #fff
    border: 1px solid $accent-yellow
    padding: 2px 4px
    line-height: 1.4
    border-radius: 3px
    &:focus, &:active
      box-shadow: 0 0 5px #0048ff, 0 1px 2px rgba(0, 0, 0, 0.2) inset
  input[type="checkbox"]
    display: inline-block
    width: auto
    box-shadow: none
  .required
    &:after
      content: '*'
      color: red
      font-size: 22px
      line-height: 1
      position: relative
      top: 5px
      left: 2px
  .check
    position: relative
    margin-bottom: 100px
    margin-top: 30px
    input
      position: absolute
      left: 0
      top: 2px
      cursor: pointer
    span
      position: absolute
      left: 20px
      top: 0
    a
      color: $accent-yellow
      line-height: 1.2
      display: inline-block
      &:hover
        text-decoration: underline
  .btn
    text-transform: none
    padding-left: 30px
    padding-right: 30px
    font-size: 17px
  .btn-wrap
    text-align: center
  .help-block
    display: none
  label.has-error
    input, textarea
      box-shadow: 0 0 5px #f00, 0 1px 2px rgba(0, 0, 0, 0.2) inset
      border-color: red!important
    input[type="checkbox"]
      box-shadow: none
    a
      color: red
    span.required
      color: red


.popup-form
  max-width: 450px
  margin-left: auto
  margin-right: auto
  padding: 35px 70px 50px
  border-radius: 15px
  position: relative


//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form
    opacity: 0
    transition: all 0.3s ease-in-out
    top: -200px
    //transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form
    opacity: 1
    transform: scale(1)
    top: 0
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form
    //transform: scale(0.7)
    opacity: 0
    top: -200px
  &.mfp-bg
    opacity: 0
    transition: opacity 0.3s ease-out
  &.mfp-ready.mfp-bg
    opacity: .7
  &.mfp-removing.mfp-bg
    opacity: 0
  .mfp-close
    color: #fff
    font-size: 34px
    font-weight: 900
    right: -35px
    width: 30px
    height: 30px
    line-height: 30px


