@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
  .head-callback
    .btn
      padding: 8px 12px
      background-image: none
  .head-phone
    margin-right: 30px
    font-size: 18px
    i
      font-size: 23px
// ≥768px
+media-breakpoint-down(sm)

// ≥480px
+media-breakpoint-down(xs)
  .top-line
    .container
      flex-direction: column

  .head-contacts
    flex-direction: column

  .head-contact
    margin-bottom: 15px
    margin-right: 0

  .logo
    margin-bottom: 15px
    margin-right: 0

/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
